body {
    padding-top: 100px;
}

.card {
    .card-heading.simple {
        font-size: 16px;
    }
}

.vote-up {
    cursor: pointer;
    color: #3a3;
    
    &:hover {
        color: #0d0;
    }
}


.vote-down {
    cursor: pointer;
    color: #c33;
    
    &:hover {
        color: #f00;
    }
}